@use 'assets/styles/mixins' as mixins;

.container {
  @include mixins.xs {
    flex-direction: column !important;
    .input {
      margin-bottom: 5px;
    }
    .select {
      margin-bottom: 5px;
      width: 100% !important;
    }
  }
}