@use 'assets/styles/mixins' as mixin;

.gitLogo {
  display: flex;

  a {
    color: white;
    text-decoration: none;
    :hover {
      opacity: 0.8;
    }
  }
}

.headerList {
  @include mixin.md-lt {
    display: none;
  }
}

.headerMdLt {
  display: none !important;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  @include mixin.md-lt {
    display: block !important;
  }
}